
.box{
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(red, green, blue, alpha);
}



.box1{background-color: brown;}
.box2{background-color: blueviolet;}
.box3{background-color: blue;}
.box4{background-color: black;}
.box5{background-color: aqua;}
.box6{background-color: aquamarine;}
.box7{background-color: brown;}
.box8{background-color: red;}
.box9{background-color: blue;}
.box10{background-color: black;}


.container{
    display: flex;
    
    
}

.box{
   flex: 1;
   order: 1;
}

.box3{
    order: 3;
}

.box7{
    order: 2;
}